<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.practice.practice">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragment.fragmentinsidefragment.InsideFragment"></activity>
        <activity android:name=".dialog.MyBottomSheet" />
        <activity android:name=".customview.MyCustomView" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".GroupMenu" />
        <activity android:name=".MenuBar" />
        <activity android:name=".CollapsingToolbar" />
        <activity android:name=".Drawer" />
        <activity android:name=".recyclerview.UserRecyclerView" />
        <activity android:name=".listview.ListView" />
        <activity android:name=".Spinner" />
        <activity android:name=".RadioButton" />
        <activity android:name=".CoordinateActivity" />
        <activity android:name=".ScrollVertical" />
        <activity android:name=".ScrollHorizontal" />
        <activity android:name=".ScrollNested" />
        <activity android:name=".TableLayout" />
        <activity android:name=".CoordinatorLayout" />
        <activity android:name=".RelativeLayout" />
        <activity android:name=".LinerLayout" />
        <activity android:name=".spinner.SpinnerMain" />
        <activity android:name=".autocompletetext.CountryAutoCompleteText" />
        <activity android:name=".dialog.CustomAlertDialog" />
        <activity android:name=".Notifications.AfterNotification" />
        <activity android:name=".Notifications.MyNotifications" />
        <activity android:name=".fragment.transferdata.MainTransferFragment" />
        <activity android:name=".fragment.MainFragment" />
        <activity android:name=".fragment.fragmenttofragment.FragmentToFragment" />
        <activity android:name=".fragment.toolbar.FragmentToolBar" />
        <activity android:name=".viewpager.MyPager" />
        <activity android:name=".fragment.dialog.MyDialogFragment" />
    </application>

</manifest>